/*
font-family: 'Saira Condensed', sans-serif;
font-family: 'Saira', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    position: relative;
    height: 90vh;
    background-color: #29a6dc;
    /*    zeby nie wystawało zdjecie damy:*/
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

/*dla wszystkich dzieci headera -> absolute*/
header > * {
    position: absolute;
}

header div.welcome {
    z-index: 1;
    top: 7%;
    left: 5%;
    right: 5%;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

/*
header div {
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
*/

header h1 {
    margin-top: 15px;
    font-size: 20px;
}

header h2 {
    font-size: 20px;
    font-weight: normal;
}

header button {
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

header img {
    height: 50%;
    bottom: 0;
    right: 0;
}

@media (orientation: landscape) {
    header img {
        height: 80%;
        bottom: 0;
        right: -5%;
    }

    header div.welcome {
        top: 15%;
        left: 5%;
        right: 46%;
    }

    header button {
        margin-top: 35px;
    }
}

/*---------------------------------portrait---------------------------------*/
@media (orientation: portrait) and (min-width: 360px) {
    header h1 {
        font-size: 24px;
    }

    header h2 {
        font-size: 24px;
    }

    header button {
        line-height: 40px;
        font-size: 16px;
        margin-top: 25px;
    }
}

@media (orientation: portrait) and (min-width: 410px) {
    header h1 {
        font-size: 26px;
    }

    header h2 {
        font-size: 26px;
    }

    header button {
        margin-top: 40px;
        line-height: 50px;
        font-size: 20px;
    }

    header img {
        right: -10%;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    header p {
        font-size: 70px;
    }

    header h1 {
        font-size: 32px;
    }

    header h2 {
        font-size: 32px;
    }

    header button {
        margin-top: 60px;
        line-height: 60px;
        font-size: 24px;
    }

    header img {
        right: -10%;
    }
}

/*-------------------------------landscape-------------------------------*/
@media (orientation: landscape) and (min-width: 640px) {
    header h1 {
        font-size: 24px;
    }

    header h2 {
        font-size: 24px;
    }

    header button {
        font-size: 16px;
        line-height: 40px;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    header div.welcome {
        left: 4%;
        top: 20%;
    }

    header p {
        font-size: 56px;
    }

    header h1 {
        margin-top: 30px;
        font-size: 34px;
    }

    header h2 {
        font-size: 34px;
    }

    header button {
        margin-top: 70px;
        font-size: 24px;
        line-height: 60px;
    }

    header img {
        right: -15%;
        height: 85%;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {
    header div.welcome {
        top: 6%;
        left: 8%;
        text-align: left;
    }

    header p {
        font-size: 75px;
    }

    header h1 {
        margin-top: 30px;
        font-size: 40px;
    }

    header h2 {
        font-size: 32px;
    }

    header button {
        margin-top: 80px;
        font-size: 24px;
        line-height: 70px;
        padding: 0 40px;
        border: 2px solid white;
    }

    header img {
        right: -15%;
        height: 95%;
    }
}

@media (orientation: landscape) and (min-width: 1600px) {

    header p {
        font-size: 120px;
    }

    header h1 {
        margin-top: 40px;
        font-size: 60px;
    }

    header h2 {
        font-size: 60px;
    }

    header button {
        margin-top: 100px;
        font-size: 30px;
        line-height: 90px;
        padding: 0 40px;
        border: 2px solid white;
    }

    header img {
        right: -15%;
        height: 95%;
    }
}

/*----------------dla szerokości pow 1024px można właściwośc hover-----------*/

@media (min-width: 1024px) {
    header button {
        transition: .2s;
    }

    header button:hover {
        cursor: pointer;
        background-color: #fff;
        color: #111;
    }
}



section {
    min-height: 30vh;
}

/*---------------------------sekcja-----------------------------------*/
/*sekcja pierwsza*/

.features {
    max-width: 1600px;
    margin: 50px auto 0;
    padding: 5%;
    text-align: center;
}

.features h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.features h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.features p {
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin: 20px;
}

.features img {
    width: 100%;
    margin: 5px 0;
    max-width: 375px;
}

/*-----------------------media queries----section---------------*/
@media (min-width: 360px) {
    .features h1 {
        font-size: 28px;
    }

    .features h2 {
        font-size: 24px;
    }

    .features p {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .features h1 {
        font-size: 34px;
    }

    .features h2 {
        font-size: 28px;
    }

    .features p {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .features {
        padding: 3%;
    }

    .feature {
        float: left;
        width: 33%;
        padding: 20px;
    }

    .features h1 {
        font-size: 36px;
    }

    .features h2 {
        font-size: 22px;
    }

    .features p {
        font-size: 16px;
        line-height: 150%;
        text-align: justify;
    }
}

@media (min-width: 1600px) {

    .feature {
        padding: 20px 40px;
    }

    .features h1 {
        font-size: 60px;
    }

    .features h2 {
        font-size: 36px;
    }

    .features p {
        font-size: 21px;
        line-height: 150%;
        text-align: justify;
    }
}

/*-----------------------------długo długo nic i sekcja hobby------------------------------------*/
.hobby {
    max-width: 1920px;
    margin: 0 auto;
}

.hobby h1 {
    padding: 20px;
    font-size: 30px;
    font-family: 'Saira', sans-serif;
    text-align: center;
}


.hobby .item {
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
}

.hobby .item:nth-of-type(1) {
    background-image: url(../images/hobby1.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(../images/hobby2.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(../images/hobby3.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(../images/hobby4.jpg);
}

.hobby .item p {
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    /*    line-height: 25vh;*/
    background-color: rgba(0, 0, 0, .5);
    text-shadow: 0 0 2px black;
    padding: 5px 0;
}

@media (min-width: 533px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
    }
}

@media (min-width: 768px) {
    .hobby h1 {
        font-size: 48px;
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .hobby .item p {
        font-size: 30px;
    }
}

@media (min-width: 1024px) {
    .hobby .item p {
        padding: 0;
        line-height: 40vh;
        opacity: 0;
        transition: 0.2s;
    }

    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item {
        background-size: 100%;
        transition: 1s;
    }

    .hobby .item:hover {
        background-size: 130%;
    }
}












/**/
