* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

nav {
    background-color: #343A40;
    padding-left: 5%;
    margin-bottom: 40px;
}

nav ul {
    max-width: 1280px;
    margin: 0 auto;
}

nav ul li {
    list-style: none;
    float: left;
    border-right: 2px solid #222;
}

nav ul li a {
    display: block;
    line-height: 70px;
    padding: 0 40px;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    color: #bbb;
    text-decoration: none;
}

li:nth-last-child(1) {
    border-right: none;
}

ul li a i {
    margin-right: 10px;
    font-size: 24px;
    vertical-align: -2px;
}

ul li a:hover {
    color: white;
}
